<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="webMoneyConfiguration">
      <section name="applicationInterfaces" type="WebMoney.XmlInterfaces.Configuration.ConfigurationHandler, WebMoney.XmlInterfaces" />
    </sectionGroup>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <webMoneyConfiguration>
    <applicationInterfaces>

      <authorizationMode>Classic</authorizationMode>

      <!--<merchant>
        <wmId></wmId>
        <secretKey></secretKey>
      </merchant>-->

      <keeperClassic>
        <wmId>227583964705</wmId>
        <wmKey>&lt;RSAKeyValue&gt;&lt;Modulus&gt;uTofMnUSbGMU+BRUBEiKk/PETBivydURnJu/r1NfX/GJicQlGEwBgcl293acLLFe1wfnL3ULZPyuDkOQDC1fvokH&lt;/Modulus&gt;&lt;D&gt;kyWOQCP0jRYxERtJo2LgW8bBB9GPTrofkRTcUSoR1nUxXTlkXssyHJHqTXKj+D9vnxlIdPnYjAzIxVdyqWerFZcB&lt;/D&gt;&lt;/RSAKeyValue&gt;</wmKey>
      </keeperClassic>

      <!--<keeperLight>
        <rawData></rawData>
      </keeperLight>

      <keeperLight>
        <containerInfo>
          <storeName></storeName>
          <storeLocation></storeLocation>
          <thumbprint>‎</thumbprint>
        </containerInfo>
      </keeperLight>-->

    </applicationInterfaces>
  </webMoneyConfiguration>
  
</configuration>