<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WebMoney.XmlInterfaces.Sandbox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="webMoneyConfiguration">
      <section name="applicationInterfaces" type="WebMoney.XmlInterfaces.Configuration.ConfigurationHandler, WebMoney.XmlInterfaces" />
    </sectionGroup>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <userSettings>
    <WebMoney.XmlInterfaces.Sandbox.Properties.Settings>
      <setting name="OrderId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TranId" serializeAs="String">
        <value>0</value>
      </setting>
    </WebMoney.XmlInterfaces.Sandbox.Properties.Settings>
  </userSettings>

  <!--<webMoneyConfiguration>
    <applicationInterfaces>

      <authorizationMode>Classic</authorizationMode>

      <merchant>
        <wmId></wmId>
        <secretKey></secretKey>
      </merchant>

      <keeperClassic>
        <wmId></wmId>
        <wmKey></wmKey>
      </keeperClassic>

      <keeperLight>
        <rawData></rawData>
      </keeperLight>

      <keeperLight>
        <containerInfo>
          <storeName></storeName>
          <storeLocation></storeLocation>
          <thumbprint>‎</thumbprint>
        </containerInfo>
      </keeperLight>

    </applicationInterfaces>
  </webMoneyConfiguration>-->

</configuration>